body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #007bff;
    color: white;
    padding: 50px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: gold;
}

section#services {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    COLOR: darkmagenta;
}

h3{
    color: black;
}

p{
    color: darkmagenta;
}

.service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card a {
    text-decoration: none;
    color:#ff0000;
    
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1em;
    color: aliceblue;
}


.contact-button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #45a049;
}

#contact {
    padding: 40px 0;
    text-align: center;
    background-color: #f4f4f4;
}

#contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

